/* HEADER */
header {
    background-color: #FFD700;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
.header-div{
    display: flex;
    border-bottom: 1px solid #262626;
}
.header-div span {
    color: white;
    font-size: 32px;
}
.fix {
    float: left;
    font-size: 27px;
}
.header-div {
    margin: 0 auto;
    width: 80%;
}
.header-div li a{
    color: #fff;
}
.header-div h1 {
    font-size: 28px;
}
.nav-ul {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
}
.nav-ul li {
    margin-left: 52px;
}
.nav-ul li a:hover {
    color: red;
    border-bottom: 1px solid;
}
.register {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 13px;
    margin-right: 24px;
}

.register p a {
    color: black;
}
.divider {
    background-color: blue;
    border: 0.4px solid;
    width: 0.2px;
    height: 18px;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}
.search {
    z-index: 2;
}
form input {
    position: relative;
    z-index: 0;
    background-color:white;
    outline: none;
    border: none;
    padding-left: 20px;
    max-width: 500px;
    width: 100%;
    height: 30px;
    margin-top: 8px;
}
form {
    text-align: center;
}
form h1 {
    margin-top: 15px;
}
form button{
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
    background-color: #262626;
    color: #fff;
    width: 80px;
    padding: 7px 6px;
}
form button:hover {
    background-color: red;
    cursor: pointer;
}
.forP{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 8px;
    font-size: 14px;
}
.forP p {
    color: rgb(53, 53, 139);
}
.forP p:hover{
    cursor: pointer;
}
.forpP{
    display: flex;
    justify-content: end;
    font-style: italic;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.forpP p {
    padding-right: 8px;
    padding-left: 8px;
    opacity: 0.7;
}

/* section 1 */
.section-1 {
    margin: 0 auto;
    text-align: center;
}
.section-1 nav ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    padding: 20px 30px;
    text-align: center;
    align-items: center;
    background-color: #073C58;
}
.section-1 li {
    font-size: 16px;
    color: white;
}
.section-1 li {
    cursor: pointer;
    border-bottom: 1px solid;
}
.section-2{
    background-image: url('../images/r.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.section-2div-image{
    position: relative;
    float: right;
    right: 10%;
    z-index: 1;
}
.section-2div-image:hover{
    opacity: 0.7;
    cursor: pointer;
}
.section-2div-text{
    float: right;
    position: absolute;
    top: 20%;
    left: 20%;
    margin: 0 auto;
    z-index: 2;
}
.section-2div-text p{
    color: white;
    font-size: 92px;
}
.section-2div-text span {
    color: red;
    left: 30%;
    padding-bottom: 40px;
    font-size: 95px;
    position: absolute;
}
.section-2div{
    font-size: 22px;
    color: #fff;
}
.texts{
    margin-top: 150px;
}
.texts h1{
    font-size: 32px;
    max-width: 360px;
    width: 100%;
    margin-left: 200px;
    font-weight: bold;
}
.texts span {
    color: yellow;
    font-size: 37px;
}
.texts p {
    margin-top: 20px;
    color: #FFD700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.button{
    text-align: center;
    margin:0 auto;
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #FFD700;
    color: #022C43;
    border: none;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button:hover{
    cursor: pointer;
    font-size: 17px;
    color: white;
    background-color: red;
}
.maintenance:hover{
    opacity: 0.8;
    cursor: pointer;
    font-size: 23px;
}

.section-3{
    background-color: #FFD700;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90%;
    border-radius: 220px;
    flex-wrap: wrap;
    margin:0 auto;
    transition: 0.2s linear;
}
.section-3:hover{
    background-color: yellowgreen;
    cursor: pointer;
}
.section-3 .boxes{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    text-align: center;
    flex-wrap: wrap;
}
.section-3 p{
    font-size: 32px;
    opacity: 0.8;
    letter-spacing: 8px;
}
.section-4{
    margin: 0 auto;
    background-color: #f1f1f1b4;
}
.boxeS{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}
.section-4 h2{
    font-size: 32px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 70px;
}
.pp{
    margin-left: 70px;
    font-size: 13px;
    margin-bottom: 5px;
    border-bottom: 2px black dashed;
    opacity: 0.8;
}
.blocks{
    background-color: white;
    margin-top: 3px;
}
.box-1 h5 {
    font-family: fantasy;
}
.box-1 img:hover{
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 20px firebrick;
}
.box-1 p {
    font-style: italic;
    font-size: 12px;
}
.box-2 h5 {
    font-family: fantasy;
}
.box-2 img:hover{
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 20px firebrick;
}
.box-2 p {
    font-style: italic;
    font-size: 12px;
}
.box-3 h5 {
    font-family: fantasy;
}
.box-3 img:hover{
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 20px firebrick;
}
.box-3 p {
    font-style: italic;
    font-size: 12px;
}
.blocks{
    display: flex;
    text-align: center;
}
.block-1 {
    max-width: 340px;
    width: 100%;
}
.block-2 {
    max-width: 340px;
    width: 100%;
}
.block-3 {
    max-width: 340px;
    width: 100%;
}
.block-4{
    max-width: 340px;
    width: 100%;
}
.blocks h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.blocks p {
    font-size: 14px;
    line-height: 25px;
}
.button-2 {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    max-width: 190px;
    width: 100%;
    padding: 10px 20px;
    background-color: yellow;
    color: #1D1D1D;
    outline: none;
    height: 40px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 30px;
}
.button-2:hover{
    cursor: pointer;
    background-color: red;
}
.two-box{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    height: 340px;
    margin-top: 10px;
}
.left-box {
    max-width: 600px;
    width: 100%;
    background-color: #022C43;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.right-box {
    max-width: 600px;
    width: 100%;
    background-color: #022C43;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.right-box p {
    max-width: 205px;
    margin-left: 20px;
    font-size: 15px;
    text-align: center;
    color: #1D1D1D;
    font-weight: bold;
}
.left-box p {
    max-width: 240px;
    margin-left: 20px;
    font-size: 15px;
    color: whitesmoke;
    font-weight: bold;
}

.right-box{
    max-width: 600px;
    width: 100%;
    text-align: center;
    background-color: #FFD700;
}
.left-box {
   max-width: 600px;
    width: 100%;
    text-align: center;
    background-color: #022C43; 
}
.section-6 span {
    color: red;
    font-size: 30px;
    margin-bottom: 20px;
}
.section-6 span:hover{
    cursor: pointer;
}
.left-box:hover{
    opacity: 0.9;
    cursor: pointer;
}
.right-box:hover{
    opacity: 0.7;
    cursor: pointer;
}
.forthree{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.first{
    max-width: 380px;
    width: 100%;
    text-align: center;
}
.imagediv{
    background-color: yellow;
    max-width: 70px;
    border-radius: 32px;
    height: 50px;
    padding: 9px 9px;
    margin: 0 auto;
}
.lorem{
    font-size: 11px;
}
.pick {
    font-size: 24px;
    font-weight: bold;
}

.section-7 h1{
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}
.section-7 span {
    color: #FFD700;
}
.sc-8 {
    background-image: url('../images/Path.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 450px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}
.sc-88{
    position: absolute;
    z-index: 2;
    margin-left: 260px;
    margin-top: 8px;
}
.sc-88 h3{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    width: 550px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}
.sc-88 img:hover{
    opacity: 0.7;
    cursor: pointer;
}
.imgg{
    float: right;
}
.sc-88 p{
    text-align: center;
    font-size: 24px;
    max-width: 250px;
    width: 100%;
    margin-top: 20px;
}